[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/plokixxx
[access "refs/for/refs/*"]
	read = group user/plokixxx
	push = group user/plokixxx
	label-Code-Review = -2..+2 group user/plokixxx
	label-Verified = -1..+1 group user/plokixxx
	rebase = group user/plokixxx
	removeReviewer = group user/plokixxx
	submit = group user/plokixxx
[access "refs/heads/*"]
	read = group user/plokixxx
	create = group user/plokixxx
	push = +force group user/plokixxx
	pushMerge = group user/plokixxx
[access "refs/tags/*"]
	push = +force group user/plokixxx
	pushTag = group user/plokixxx
	pushSignedTag = group user/plokixxx
